Flask==3.1.1
Flask-Session==0.8.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
PyMySQL==1.1.2
python-dotenv==1.1.1
pytz==2025.2
openai
pydantic
pydantic-core
protobuf
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
oauthlib
requests-oauthlib
pyasn1
pyasn1_modules
rsa
uritemplate
annotated-types
anyio
Authlib
blinker
cachelib
cachetools
certifi
cffi
charset-normalizer
click
cryptography
distro
git-filter-repo
h11
httpcore
httplib2
httpx
idna
itsdangerous
Jinja2
jiter
MarkupSafe
msgspec
packaging
proto-plus
pycparser
pyparsing
requests
sniffio
tqdm
typing-inspection
typing_extensions
urllib3
Werkzeug
wrapt
zipp